RemoteSystemsTempFiles
sim/.cproject
sim/Debug
sim/.project
sim/.settings

.idea
CMakeLists.txt

workspace_robot/simulation
*.oil
*.sh
*Makefile
*kernel*

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Latex data
*.aux
*.log
*.gz
*.toc
*.snm
*.out
*.nav
build/
